<!-- <nav>
    <ul>
        <li><a routerLink="home" routerLinkActive="activeRoute">Accueil</a></li>
        <li><a routerLink="about" routerLinkActive="activeRoute">A propos</a></li>
        <li>
            <a routerLink="demos" routerLinkActive="activeRoute">Démonstrations</a>
            <ul>
                <li><a routerLink="demos/demo1" routerLinkActive="activeRoute">Demo 1</a></li>
                <li><a routerLink="demos/demo2" routerLinkActive="activeRoute">Demo 2</a></li>
                <li><a routerLink="demos/demo3" routerLinkActive="activeRoute">Demo 3</a></li>
                <li><a routerLink="demos/demo4" routerLinkActive="activeRoute">Demo 4</a></li>
                <li><a routerLink="demos/demo5" routerLinkActive="activeRoute">Demo 5</a></li>
                <li><a routerLink="demos/demo6" routerLinkActive="activeRoute">Demo 6</a></li>
                <li><a routerLink="demos/demo7" routerLinkActive="activeRoute">Demo 7</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="exos" routerLinkActive="activeRoute">Exercices</a>
            <ul>
                <li><a routerLink="exos/exo1" routerLinkActive="activeRoute">Exo 1</a></li>
            </ul>
        </li>
    </ul>
</nav> -->

<nav>
    <ul>
        <li *ngFor="let lien of liens; let i = index">
            <span *ngIf="lien.children" (click)="toggleVisible(i)" style="cursor: pointer;">
                <span *ngIf="!lien.isVisible; else elseblock">⮞</span>
                <ng-template #elseblock>⮟</ng-template>
            </span>
            
            <a [routerLink]="lien.url" (click)="toggleVisible(i)" routerLinkActive="activeRoute"
                [ngClass]="{master: lien.children}">
                {{ lien.title }}
            </a>

            <ul *ngIf="lien.children && lien.isVisible">
                <li *ngFor="let enfant of lien.children; let i = index">
                    <a [routerLink]="enfant.url" routerLinkActive="activeRoute">
                        {{ i + 1 }} - {{ enfant.title }}
                    </a>
                </li>
            </ul>

        </li>
    </ul>
</nav>