<nav>
    <ul>
        <li><a routerLink="home">Accueil</a></li>
        <li><a routerLink="about">A propos</a></li>
        <li>
            <a routerLink="demos">Démonstrations</a>
            <ul>
                <li><a routerLink="demos/demo1">Demo 1</a></li>
                <li><a routerLink="demos/demo2">Demo 2</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="exos">Exercices</a>
            <ul>
                <li><a routerLink="exos/exo1">Exo 1</a></li>
            </ul>
        </li>
    </ul>
</nav>
