ul {
    list-style-type: none;
    transform: translateX(-15px);
    /* width: 105%; */
    /* border: 1px solid black; */
}

ul li {
    padding: 5px 0px;
    width: 100%;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: magenta;
}

ul li a.activeRoute {
    color: magenta;
}

.master {
    font-weight: bolder;
}