.app > * {
    /* border: 1px solid black; */
    /* background: #000; */
}

.header {
    height: 100px;
    padding: 20px;
    vertical-align: middle;
    border-bottom: 1px solid black;
}

.nav {
    margin-right: 0px;
    width: 20%;
    position: absolute;
    left: 0;
    top: 100px;
    height: calc(100% - 100px);
    overflow-y: scroll;
}

.content {
    position: absolute;
    top: 100px;
    left: 20%;
    padding: 20px;
    width: 80%;
}