<h3>Chronomètres</h3>

<div>
    <p>Mettre en place un chronomètre</p>
    <p>- 3 Boutons : Start, Pause, Reset (actif/inactif en fonction des besoins)</p>
    <p>- Affichage “xx minutes xx secondes”</p>
    <p>Astuce : cherchez du côté de setInterval() et du string Interpolation de Typescript ;)</p>
</div>

<p>Temps écoulé : {{ temps | toTime }}</p>
<p>
    <button (click)="start()" [disabled]="timer">Start</button>
    <button (click)="pause()" [disabled]="!timer">Pause</button>
    <button (click)="reset()" [disabled]="!temps">Reset</button>
</p>
