<h2>Demo 1 : One-Way Binding</h2>

<p>Permet d'afficher le contenu d'une variable TypeScript en HTML</p>
<p>Affichage d'une variable entre une paire d'accolade {{ "{{ ... }}" }}</p>

<br>

<p>Valeur de maVariable1 : {{ maVariable1 }}</p>
<p>Valeur de maVariable2 : {{ maVariable2 }}</p>
<p>Valeur de maVariable3 : {{ maVariable3 }}</p>
<p>Valeur de maVariable4 : {{ maVariable4 }}</p>
<p>Valeur de maVariable5 : {{ maVariable5 }}</p>
<p>Valeur de maVariable6 : {{ maVariable6 }}</p>
<p>Valeur de maVariable8 : {{ maVariable8() }}</p>
<p>Valeur de maVariable9 : {{ maVariable9[0] }}</p>